
/*Flex short hand. flex: flex-grow flex-shrink flex-basis*/

#container {
  height: 300px;
  width: 80%;
  color: white;
  background-color: azure;
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  flex-direction:row; 
  align-content: space-evenly;
  justify-content: space-evenly;
}

#container div{ 
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
}

#red {
  background-color: red;
  flex-shrink: 1; /*Relative shrinking of elements*/
}

#blue {
  background-color: blue;
  flex-shrink: 2;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
  color: black; 
}

#purple {
  background-color: purple;
}

#orange {
  background-color: orange;
}

h1{
    text-align: center;
}
