#box{
    height: 100px;
    width: 300px;
    background-color: pink;

    animation: coloranimate 4s ease-in-out 0s infinite alternate;
    /*Short hand: animation: name duration timing-function delay iteration-count direction fill-mode; */
}

/*Use either from/to or percentage*/

@keyframes coloranimate {
    0%{
        background-color: azure;
        font-size: 20px;
        width: 50px;
    }

    50%{
        background-color: gold;
        font-size: 1px;
        width: 40px;
    }

    80%{
        background-color: red;
        font-size: 20px;
        width: 150px;
    }

    100%{
        background-color: aqua;
        font-size: 40px;
        width: 200px;
        border-radius: 15px;
    }
}