body {
    text-align: center;
    background: linear-gradient(to bottom, #222, #555);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    
}


h1{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 60px;
}


.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 2.5rem;
    box-shadow: 5px 5px 15px black;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: yellow;
    box-shadow: 5px 5px 15px yellow;
}

.red{
    background-color: red;
    box-shadow: 5px 5px 15px red;
}

.green{
    background-color: green;
    box-shadow: 5px 5px 15px green;
}

.purple{
    background-color: purple;
    box-shadow: 5px 5px 15px purple;
}

.flash{
    background-color: white;
    transition: background-color 0.2s;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}